.header {
  background: linear-gradient(to right, rgb(0, 164, 222), 70%, rgb(0, 17, 114));
  color: white;
  border-bottom: 2px solid white;

}

.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", system-ui;
  font-weight: 400;
  font-style: normal;
}

.tracker {
  padding-top: 8px;
  font-size: 200%;
  text-shadow:
    3px 1px 0 #000,
    -1px 2px 0 #000,
    -1px -1px 0 #000,
    4px 4px 0 #000;
}

.nav-item {
  padding-top: 8px;
  font-size: 100%;
}

.nav-item:hover {
  color: white;
  /* text-decoration: solid underline rgb(241, 85, 35, 0.8) 5px; */
  /* text-underline-offset: 10px; */
}

.hoverText {
  color:darkgray;
}

.buttons {
  margin-top: 6px
}

.navbar-toggler {
    width: 8%;
  }

.navbar-toggler-icon {
    width: 100%;
  }

.navi-link {
  color: white;
  text-decoration: none;
  font-size: 110%;
  text-shadow:
    1px 1px 0 #000,
    -0px 1px 0 #000,
    -0px -0px 0 #000,
    2px 2px 0 #000;
}

.navi-link:hover {
  color: white;
  text-decoration: solid underline rgb(241, 85, 35, 0.8) 5px;
  text-underline-offset: 10px;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 4s linear;
  }
}

@media (max-width: 990px) {
  .logo {
  height: 2.3em;
  }

  .nav-item {
    padding-top: 0px;
  }

  .loginBtn {
    margin-top: 0px;
  }

  .navbar-toggler {
    width: 50px;
  }
}

@media (max-width: 750px) {
  .tracker {
    text-shadow:
    3px 1px 0 #000,
    -1px 2px 0 #000,
    -1px -1px 0 #000,
    3.3px 3.3px 0 #000,
    3.0px 3.4px 0 #000;
  }
  
  .logo {
  height: 2.6em;
  }

  .navbar-toggler {
    width: 50px;
  }
}

@media (max-width: 650px) {
  .tracker {
    text-shadow:
    3px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    3.2px 3.3px 0 #000,
    3.1px 3.1px 0 #000;
  }
  
  .logo {
  height: 2.8em;
  }

  .navbar-toggler {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 575px) {
  .header {
    border-bottom: 1px solid white;
  }

  .logo {
  height: 3em;
  }

  .tracker {
    text-shadow:
    3px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    3.0px 3.3px 0 #000,
    3.0px 3.2px 0 #000;
  }

  .navi {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .navi a {
    text-shadow:
    0.5px 0.5px 0 #000,
    -0px 0.5px 0 #000,
    -0px -0px 0 #000,
    0.5px 0.5px 0 #000;
  }
}